.experiment-title-text{
  padding: 10px 40px 10px 40px;
  overflow: hidden;
  border:1px dashed rgb(177, 170, 173);
  display: inline-block;
}
.experiment-title{
  text-align: center;
  font-size: 20px;
  font-family: "Roboto-Light","Helvetica-Neue", "Helvetica", Arial, sans-serif;
  font-weight: bold;
}
.project-tile {
  overflow: hidden;
  padding: 10px;
}
.project-tile-container {
  box-shadow: 0 0 4px grey;
  padding: 5px;
  display: block;
}
.project-tile-link {
  cursor: pointer;
}
.project-tile-title {
  font-size: 17px;
  font-weight: bold;
  padding:3px 0 0 20px;
}
.project-tile-urls-link, .project-tile-urls-repo ,.error-text{
  overflow: hidden;
  padding: 10px;
}
.project-tile-urls-link ,.error-text{
  text-align: right;
}
.error-text{
  color:orange;
}
.project-tile-urls {
  overflow: hidden;
}

/*.project-tile-image {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
}*/

.project-tile-techstack-unit {
  list-style-type: none;
  display: inline-block;
  padding: 5px;
  border: 1px dashed grey;
  border-radius: 15px;
  font-size: 12px;
  margin:5px 5px 0 0;
}
.project-tile-description{
  padding: 10px 20px 10px 20px;
}
.projects-area{
  /*background:url('../images/exp-repeatable.jpg') repeat;*/
}
