.atul-image {
  margin: 0 auto;
}

.custom-jumbotron {
  padding-bottom: 0;
}

.inline-block {
  display: inline-block;
}

.intro-text {
  font-family: "Roboto-Light", "Helvetica-Neue", "Helvetica", Arial, sans-serif;
}

.profile-links > a > i {

}

.profile-links-group {
  margin: 0 auto;
}
