<div class="row">
  <div class="custom-jumbotron jumbotron row">
    <div class="intro-text col-md-8 row">
      <h1 class="col-xs-12">Hi , I am Atul</h1>
      <h4> Web developer , Robotics / IOT Enthusiast , Geek and Athlete</h4>
      <div class="row col-xs-12 profile-links-group">
        <div class="profile-links col-sm-3 col-xs-3">
          <a href="https://github.com/master-atul" target="_blank"><h1><i class="fa fa-github"></i></h1></a>
        </div>
        <div class="profile-links col-sm-3 col-xs-3">
          <a href="https://in.linkedin.com/in/atulanand94" target="_blank"><h1><i class="fa fa-linkedin-square"></i></h1></a>
        </div>
        <div class="profile-links col-sm-3 col-xs-3">
          <a href="https://twitter.com/masteratul94" target="_blank"><h1><i class="fa fa-twitter"></i></h1></a>
        </div>
        <div class="profile-links col-sm-3 col-xs-3">
          <a href="mailto:atulanand94@gmail.com?subject=connect" target="_blank"><h1><i class="fa fa-envelope-square"></i></h1></a>
        </div>
      </div>
    </div>
    <img src="images/atul.png" width="400px" class=" col-md-4 atul-image img-responsive" alt="atul"/>
  </div>
</div>
